// Vendors
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

// Directives// Directives
@import 'directives/placeholder';
@import 'directives/bouncy';

// Placeholders
@import 'placeholder';

// Transitions
@import 'transitions/page';

// Others
@import 'reset';

html,
body {
  @extend %typo;
  background-color: var(--theme-background-color);
  color: var(--theme-text-color);
}

a {
  color: inherit;
  text-decoration: inherit;
}
