// Vendors
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

// Directives
@import './placeholder';

// Transitions
@import './transitions/page';

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  line-height: 1.5;
  background-color: var(--theme-background-color);
  color: var(--theme-text-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}
