@mixin theme {
  & {
    background-color: var(--theme-background-color);
    color: var(--theme-text-color);

    // Default theme
    // background colors
    --theme-background-color: white;

    // text colors
    --theme-text-color: #213547;

    // themed colors
    --theme-primary-color: #646cff;
    --theme-primary-text-color: white;
    --theme-secondary-color: #f9f9f9;
    --theme-secondary-text-color: var(--theme-text-color);

    // status colors
    --theme-error-color: red;

    // misc
    --theme-transition-duration: 350ms;
    --theme-border-radius: 0.5em;

    // Custom themes
    &--dark {
      // background colors
      --theme-background-color: #213547;

      // text colors
      --theme-text-color: white;

      // themed colors
      --theme-secondary-color: #2c4760;
    }
  }
}
