@mixin theme {
  & {
    background-color: var(--theme-background-color);
    color: var(--theme-text-color);

    // Default theme
    // background colors
    --theme-background-color: white;

    // text colors
    --theme-text-color: #213547;

    // themed colors
    --theme-primary-color: #42b883;
    --theme-primary-text-color: white;

    &--dark {
      // background colors
      --theme-background-color: #213547;

      // text colors
      --theme-text-color: white;
    }
  }
}
