@mixin theme {
  & {
    background-color: var(--theme-background-color);
    color: var(--theme-text-color);

    // Default theme
    // background colors
    --theme-background-color: white;

    // text colors
    --theme-text-color: #1e1f24;

    // themed colors
    --theme-primary-color: #646cff;
    --theme-primary-text-color: white;
    --theme-secondary-color: #f4f7f9;
    --theme-secondary-text-color: var(--theme-text-color);

    // status colors
    --theme-error-color: red;

    // misc
    --theme-transition-duration: 350ms;
    --theme-border-radius: 0.5em;
    --theme-shadow-color: rgba(0, 0, 0, 0.1);

    // Custom themes
    &--dark {
      // background colors
      --theme-background-color: #1e1f24;

      // text colors
      --theme-text-color: white;
      --theme-text-color--secondary: #f4f7f9;

      // themed colors
      --theme-secondary-color: #626262;
    }
  }
}
